
.body1{
    margin: 0px auto;
    max-width: 80%;
    /* padding-top: 50px; */
    text-align: center;
  }

.product {
    text-align: center;
    width: 30%;
    margin: auto;
    display: inline-block;
    border: 1xp solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 20px;
    justify-content: space-between;
}

.container-product{
    display: flexbox;
    
}

.abc{
    margin-top: 100px;
}

img{
    width: 100%;
}

#img1{
    width: 80%;
}